@use "../abstracts" as a;

.canvas {
	width: 100vw;
	height: 100vh;
	z-index: a.z-index(canvas);
	background-color: azure;

	> * {
		position: absolute;
	}

	.resize-drag * {
		pointer-events: none;
	}
}
