@use "../abstracts" as a;

.canvas {
	width: 100vw;
	height: 100vh;
	z-index: a.z-index(canvas);
	background-color: azure;

	// > * refers to element container and > * > * refers to the elements inside the element container
	> * {
		position: absolute;
	}

	> * > *:not(div) {
		width: 100%;
		height: 100%;
	}

	&.editable > * > *:not(div) {
		pointer-events: none;
	}
}
